body {
    background: rgb(238, 238, 238);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.card {
    background: rgb(255, 255, 255);
    width: 25vw;
    box-shadow: 2px 3px 15px 3px rgba(0,0,0,0.68);
    border-radius: 5px;
}

.card h4,
.card p {
    padding: 0 10px
}