body {
    background-color: #eeeeee;
}

section {
    width: 1200px;
    margin: 50px auto;
}


li{
    border-width: 0.4rem;
    list-style: none;
    display: inline-block;
    border: 0.4rem solid black;
    vertical-align: middle;
    margin: 10px;
    padding: 10px;
}

img {
    max-width: 200;
    max-height: 450px;
}