html {
    font-family: Helvetica, sans-serif;
    font-weight: 16px;
    line-height: 1.5;
}

body {
    background: rgb(238, 238, 238) ;
}

header {
    position: relative;
}

header nav ul {
    position: absolute;
    top: 0px;
    right: 10px;

}

nav ul li {
    display: inline-block;
    margin: 5px;
    color: green;
}

h1, h2, h3 {
    font-family: Georgia, serif ;
    line-height: 1.2;
}

.site-title {
    text-transform: uppercase;
    border-bottom: 3px solid black;
    padding: 10px;
    font-weight: bold;
    font-size: 30px;
}

#first-photo {
    float: right;
    border: 3px solid black;
    padding: 10px;
    margin: 10px;
    box-shadow: 0px 0px 20px -1px #000000;
    box-shadow: rgba(0, 0, 0, 0.25) ;
    background: rgb(255, 255, 255) ;
}

section {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
}

blockquote {
    border-left: 3px solid rgb(146, 146, 146);
    font-family: Georgia, serif ;
    float: right;
}

blockquote p {
    padding-left: 10px;
    
}

article p {
    font-style: italic;
}

.right {
    text-align: right;
}

#second-photo {
    float: left;
    border: 3px solid black;
    padding: 10px;
    margin: 10px;
    box-shadow: 0px 0px 20px -1px #000000;
}

main, aside {
    display: table-cell;
}

aside {
    padding-left: 20px;
    padding-right: 20px;
}

a {
    text-decoration: none;
    color: #74a871;
}