<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Not Found</title>
</head>

<body>
    <div class="wrapper">
        <h1>THE PAGE DOESEN'T EXIST</h1>
        <img src="https://media4.giphy.com/media/559srEnztPaZBNWinT/200w.gif?cid=82a1493brg0emnhzfjs744wgu18p8424wd5raehs19095q7a&rid=200w.gif"
            alt="not-found-image">
    </div>
</body>

<style>
    .wrapper h1 {
        text-align: center;
    }

    .wrapper {
        margin: auto;
        width: 50%;
        border: 3px solid rgb(99, 0, 129);
        padding: 10px;
    }

    .wrapper img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
        border: 3px solid rgb(248, 248, 248);
        padding: 10px;
    }
</style>

</html>