html {
    box-sizing: border-box;
}

* {
    box-sizing: inherit;
}

div, section {
    display: flex;
    flex-wrap: wrap;
}

div {
    max-width: 65vw;
}

.container {
    flex-direction: row;
}

span {
    border: 1px solid black;
    padding: 20px;
    flex-grow: 1;
    min-height: 15vh;
    text-align: center;
}

.notes {
    flex-direction: column;
}

section .header {
    flex-basis: 100%;
    font-size: 25px;
}

.notes span {
    font-size: 25px;
}

