.golden-area-component {
    background-image:
    linear-gradient(to top, rgb(255, 255, 255), rgba(148, 134, 65, 0.2));
    background-color: rgb(228, 222, 196);
    display: flex;
    position: relative;
    flex-direction: column;
    overflow: hidden;
}

.golden-component-header {
    display: flex;
    justify-content: space-around;
}

.golden-component-header h1 {
    padding-top: 10px;
    border-top: 4px solid rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    font-size: 30px;
}

.medal-icon {
    position: absolute;
    top: 100px;
    right: -93px;
    font-size: 200px;
    color: rgba(255, 255, 255, 0.548);
}

.hotels-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 60px;
    flex-wrap: wrap;
}