  <div class="container">
    <header>
      <ul>
        <li><img class="logo" src="/static/images/logo.png"></li>
        <li><a href="/">Browse</a></li>
        <li><a href="/create">Add a Cube</a></li>
        <li><a href="/about">About</a></li>
      </ul>
    </header>
    <main>
      <h1>{{detailsData.name}}</h1>
      <img class="cube" src="{{detailsData.imageUrl}}">
      <div class="details">
        <p><span>Description:</span> {{detailsData.description}}</p>
        <p><span>Difficulty level:</span> {{detailsData.difficultyLevel}}</p>
        <a class="btn" href="/">Back</a>
      </div>
    </main>
  </div>
